
/* 
    Created on : 20/07/2014, 09:22:22 PM
    Author     : Casper
*/
.root{
    -fx-font-size: 14pt;
    -fx-font-family: "Arial";
    -fx-base: rgb(132,145,47);
    -fx-background: rgb(225,228,203); 
}

.title{
    -fx-font-size: 24pt;
    -fx-font-weight: bold;    
}

.subTitle{
    -fx-font-size: 18pt;
}

.errorMessage{
    -fx-font-size: 12pt;
    -fx-color: RED;
}

.button_Hbox{
    -fx-font-size: 12pt;
}

.textFieldDialog{
    -fx-font-size: 12pt;
}

