<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"
               timeReference="contextBirth"/>
    
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>LosArbolesAdmLog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>LosArbolesAdmLog.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 15 days' worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%thread] %-5level  %logger{35} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg%n</Pattern>
        </layout>
    </appender>
     
    <logger name="com.spontecorp.losarboles.trace" level="TRACE"/>
    
    <root level="TRACE">
        <appender-ref ref="fileAppender" />
    </root>
 
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
